.jumbotron {
  background-image: url('community.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
    background-color: transparent;
}

/*#homeDetails {
    background-color: #fff;
    min-height: 500px;
    position: absolute;
    top: 100vh;
    width: 82%;
}*/

#socialIcons img {
    width 25px;
    height: 25px;
}
#socialIcons {
    padding: 10px 0;
}

#ticker {
  margin-right: -40px;
}

.tickerParent {
  width: 100%;
  margin-left: 40px;
}

.nounderline:hover {
  text-decoration: none
}
